/* file tree */
.presentation-tree .real .tree-row {
    font-size: 20px;
}

/* filename wrapper */
.presentation-tree .real .caption {
    height: 25px !important;
}
.presentation-tree .real .extrainfo {
    position: static !important;
}

/* tree heading and filename wrapper */
.presentation-tree .real .caption,
.presentation-tree .real .heading {
    line-height: normal;
}

/* vetically center file/folder icon and name in tree row */
.presentation-tree .real .tree-row span {
    position: relative;
    top: 50%;
    margin-top: -24px;
}