/* hide avatar in presentation only */
.presentation50 .btnName {
    display: none !important;
}

/* hide stats in presentation only */
.presentation50 .stats-btn {
    padding: 0 !important;
    overflow: hidden;
    width: 0px !important;
    border-left: 0 !important;
}
